<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- this allows us to store the base url independently of the code -->
    <!-->add key="base_url" value="http://acnhapi.com/v1/"/-->
		<add key="base_url" value="https://localhost:5001/api/ACNHVillagers/"/>
	</appSettings>
</configuration>